
<mat-dialog-content >
<H2 mat-dialog-title>{{firstFormValidation == false ? 'Réinitialisez votre mot de passe': 'Changez votre mot de passe'}}</H2>

      <div *ngIf="!firstFormValidation" [class]="firstFormValidation == true ? 'slide-out-blurred-top' : ''" >
            <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()">
                <mat-error *ngIf="error == true">
                    {{this.errorMsg}}
                </mat-error>

                <!-- login -->
                <mat-form-field>
                    <input
                    matInput placeholder="Login"
                    formControlName="login"
                    required/>
                    <mat-error>
                        Le login est obligatoire.
                    </mat-error>
                </mat-form-field>

            
                <!-- USER NN -->
                <mat-form-field>
                    <input 
                    matInput placeholder="Votre numéro Nationnal" 
                    formControlName="userNationalNumber" 
                    required
                    >
                    <mat-error>
                        Le champs doit obligatoirement être rempli.
                    </mat-error>
                </mat-form-field>

                <!-- contact NN -->
                <mat-form-field>
                    <input 
                    matInput placeholder="Le numéro nationnal d'un de vos contacts" 
                    formControlName="contactNationalNumber" 
                    required
                    />
                    <mat-error>
                        Le champs doit obligatoirement être rempli.
                    </mat-error>
                    </mat-form-field>

                <button
                    [mat-dialog-close]="false"
                    mat-raised-button
                    color="accent"
                >Annuler</button>

                <mat-spinner-button [options]="spinnerButtonOptions" [disabled]="firstForm.invalid" >
                </mat-spinner-button>
            </form>  

            
            <!-- <form [formGroup]="secondForm">
                <ng-template matStepLabel>Changez votre mot de passe</ng-template>
            </form> -->
        </div>
        <div *ngIf="firstFormValidation" [class]="firstFormValidation == true ? 'slide-in-blurred-top':''">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()">
                <mat-error *ngIf="error == true">
                    {{this.errorMsg}}
                </mat-error>
               
                <mat-form-field>
                  <input 
                    matInput placeholder="Nouveau mot de passe" 
                    formControlName="password" 
                    required
                    type="password">
                  <mat-error>
                    Le mot de passe est obligatoire.
                  </mat-error>
                </mat-form-field>
          
                <mat-form-field>
                  <input 
                    matInput placeholder="Confirmez le mot de passe" 
                    formControlName="confirmPassword" 
                    required
                    type="password">
                    <mat-error>
                      La confirmation est obligatoire.
                    </mat-error>
                  </mat-form-field>
          
                <button
                  [mat-dialog-close]="false"
                  mat-raised-button
                  color="accent"
                >Annuler</button>
          
                <button 
                mat-raised-button 
                type="submit" 
                color="primary"
                [disabled]="secondForm.invalid">Valider</button>
              </form>
        </div>
</mat-dialog-content>