<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <H2>Changer votre mot de passe</H2>

        <mat-error *ngIf="passwordInvalid == true">
            {{this.error}}
        </mat-error>

        
        <mat-form-field>
          <input 
          matInput placeholder="Mot de passe" 
          formControlName="password" 
          required
          type="password"
          >
          <mat-error>
            Le mot de passe est obligatoire.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
            matInput placeholder="Confirmez le mot de passe" 
            formControlName="confirmPassword" 
            required
          type="password"
            >
            <mat-error>
              La confirmation est obligatoire.
            </mat-error>
          </mat-form-field>
        
        <button 
        mat-raised-button 
        type="submit" 
        color="primary"
        [disabled]="form.invalid">Valider</button>
        
  
      </form>
    </mat-card-content>
  
</mat-card>