<H2 mat-dialog-title>Modifier la note</H2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-error *ngIf="error == true">
      {{this.errorTxt}}
    </mat-error>

    <mat-form-field>
      <mat-label>Classe:</mat-label>
      <input matInput disabled [value]="data.className">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Etudiant:</mat-label>
      <input matInput disabled [value]="data.userId">
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Selectionnez un trimestre</mat-label>
      <mat-select [(value)]="selectedTrimeste" formControlName="trimester">
        <mat-option [value]="trim.value" *ngFor="let trim of trimester">{{trim.viewValue}}</mat-option>
      </mat-select>
      <mat-error>
        La sélection du trimestre est obligatoire.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-divider></mat-divider>



    <mat-form-field class="txtArea">
      <mat-label>Description:</mat-label>


      <textarea style="height: 35vh" matInput formControlName="description" required>
        </textarea>
      <mat-error>
        Une description est obligatoire.
      </mat-error>
    </mat-form-field>
    <br />
    <div style="text-align: center;">
      <button mat-dialog-close mat-raised-button style="margin: 12px" color="accent">Annuler</button>

      <button mat-raised-button type="submit" color="primary" style="margin: 12px"
        [disabled]="form.invalid">Valider</button>

    </div>


  </form>
</mat-dialog-content>