<H1 style="margin: 40px">Travaux</H1>

<!-- DEBUT SELECTION -->
<div style="text-align: center;">
<mat-form-field appearance="fill" style="margin: 20px; width: 250px;">
  <mat-label>Selectionnez les catégories</mat-label>
  <mat-select [formControl]="selectedCategories" multiple>
    <mat-select-trigger>
      {{!selectedCategories.value ? '' : selectedCategories.value[0]?.name}}
      <span *ngIf="selectedCategories.value?.length > 1" class="additional-selection">
        (+{{selectedCategories.value.length -1}} {{selectedCategories.value?.length === 2 ? 'autre' : 'autres'}})
      </span>
    </mat-select-trigger>
    <mat-option [value]="cat" *ngFor="let cat of selectCategories">{{cat.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" style="margin: 20px; width: 250px;">

    <mat-label>Selectionnez une année</mat-label>
    <mat-select [formControl]="selectedSchoolYears" multiple>
      <mat-select-trigger>
        {{!selectedSchoolYears.value ? '' : selectedSchoolYears.value[0]}}
        <span *ngIf="selectedSchoolYears.value?.length > 1" class="additional-selection">
          (+{{selectedSchoolYears.value.length -1}} {{selectedSchoolYears.value?.length === 2 ? 'autre' : 'autres'}})
        </span>
      </mat-select-trigger>
      <mat-option [value]="year" *ngFor="let year of selectSchoolYears">{{year}}</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill" style="margin: 20px; width: 250px;">
    <mat-label>Selectionnez une trimestre</mat-label>
    <mat-select [formControl]="selectedTrimesters" multiple>
      <mat-select-trigger>
        {{!selectedTrimesters.value ? '' : selectedTrimesters.value[0]}}
        <span *ngIf="selectedTrimesters.value?.length > 1" class="additional-selection">
          (+{{selectedTrimesters.value.length -1}} {{selectedTrimesters.value?.length === 2 ? 'autre' : 'autres'}})
        </span>
      </mat-select-trigger>
      <mat-option [value]="trim" *ngFor="let trim of selectTrimesters">{{trim}}</mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="" (click)="selectedChoices()">Chercher</button>
<button mat-button color="" (click)="resetChoices()">Reset</button>
</div>
<!-- FIN SELECTIONS -->
<div *ngIf="emptyMsg == true">
  <p style="text-align: center;">Il n'y a actuellement aucun contenu pour votre recherche, voulez vous en créer un ?</p>
</div>

<div *ngIf="categories != null || categories.length != 0" style="margin: 20px">
  <div *ngFor="let cat of categories; let i = index">
    <mat-accordion *ngIf="checkCategories(cat.id) == true">
      <mat-expansion-panel (opened)="catPanelState[i] = true" (closed)="catPanelState[i] = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <label [style]="catPanelState[i] ? 'color: #ada99e ; font-weight:bold' :''"> {{cat.name}} </label>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let schoolYear of schoolYears; let i = index">
          <mat-accordion *ngIf="checkSchoolYear(schoolYear, cat.id) == true">
            <mat-expansion-panel (opened)="schoolYearPanelState[i] = true" (closed)="schoolYearPanelState[i] = false">
              <mat-expansion-panel-header>
                <mat-panel-title *ngIf="schoolYear == 1" >
                  <label [style]="schoolYearPanelState[i]? 'color: #ada99e ; font-weight:bold' : ''"> {{schoolYear}}ère année</label>
                </mat-panel-title>
                <mat-panel-title *ngIf="schoolYear > 1">
                  <label [style]="schoolYearPanelState[i]? 'color: #ada99e ; font-weight:bold' : ''"> {{schoolYear}}ème année</label>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let trimester of trimesters; let i = index">
                <mat-accordion *ngIf="checkTrimester(trimester, schoolYear, cat.id) == true">
                  <mat-expansion-panel (opened)="trimesterPanelState[i] = true" (closed)="trimesterPanelState[i] = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title *ngIf="trimester == 1">
                        <label [style]="trimesterPanelState[i]? 'color: #ada99e ; font-weight:bold' : ''">
                          {{trimester}}er trimestre

                        </label>
                      </mat-panel-title>
                      <mat-panel-title *ngIf="trimester > 1">
                        <label [style]="trimesterPanelState[i]? 'color: #ada99e; font-weight:bold' : ''">
                          {{trimester}}ème trimestre

                        </label>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let work of works; let i = index">
                      <mat-accordion
                        *ngIf="work.categoryId == cat.id && work.trimester == trimester && work.schoolYear == schoolYear">
                        <mat-expansion-panel (opened)="workPanelState[i] = true" (closed)="workPanelState[i] = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <label [style]="workPanelState[i] ? 'color:#50b59c; font-weight:bold':''">{{work.subject}}</label>
                            </mat-panel-title>
                            <mat-panel-description>
                              <label>{{work.lastUpdate | date: 'dd/MM/yyyy'}}</label>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                            <p>Question: {{work.question}}</p>
                            <mat-divider></mat-divider>
                            <p *ngIf="work.secondHint == null || work.secondHint == undefined">Aide: {{work.firstHint}}</p>
                            <p *ngIf="work.secondHint != null || work.secondHint != undefined">Première aide: {{work.firstHint}}</p>
                            <mat-divider></mat-divider>
                            <p *ngIf="work.secondHint != null || work.secondHint != undefined">Seconde aide: {{work.secondHint}}</p>
                            <mat-divider></mat-divider>
                            <p>Réponse: {{work.correction}}</p>
                            <mat-divider></mat-divider>
                            <p>Explication: {{work.explanation}}</p>
                                                
                          <button  mat-button color="accent" 
                            (click)="openDeleteDialog(work.id)">Supprimer</button>
                          <button mat-button color="primary" 
                            (click)="openUpdateDialog(work)">Mettre à jour</button>
                          <button mat-icon-button matTooltip="Visualiser">
                            <mat-icon>
                              visibility
                            </mat-icon>
                          </button>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div style="margin: 40px;">
  <button mat-button color="war" [routerLink]="['../home']">Retour</button>
  <button mat-button 
    [color]="emptyMsg == true ? 'accent' : 'primary'" 
    (click)="openCreateDialog()"
    [class]="emptyMsg == true ? 'blink-1': ''"
    >Créer</button>
</div>