<mat-card>
    <mat-card-header>
        <mat-card-title>Liste de la classe</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list *ngFor="let student of studentList">
            <mat-list-item *ngIf="student.statusCode == 1"> 
                <a [routerLink]="['./'+student.id]"><img matTooltip="Details" mat-card-avatar [src]="student.photo"> </a>

                <label style="margin-left: 5px;">{{student.firstName}} {{student.lastName}} </label>
                
                <button  mat-icon-button [routerLink]="['../notesTrimestrielle/'+student.id]"
                matTooltip="consulter les notes trimestrielles">
                <mat-icon>folder_shared</mat-icon>
                </button>
                <button  mat-icon-button [routerLink]="['../Resultats/'+student.id]"
                matTooltip="Resultats">
                <mat-icon>show_chart</mat-icon>
                </button>
                <mat-divider></mat-divider>    
            </mat-list-item>
            
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-dialog-content>
<router-outlet></router-outlet>
</mat-dialog-content>