mat-icon:hover{
    color:lightseagreen;
    font-weight: bold;
    font-size:30px
}

label:hover{
    color:lightseagreen;

    font-weight: bold;
}

// img{
//     border:none
// }
// img:hover{
//     border:2px solid lightseagreen
// }
