<div class="grid-container">
  <div class="bounce-in-top">
    <mat-grid-list cols="4" rowHeight="9vh">

      <mat-grid-tile [colspan]="2" [rowspan]="3">
        <mat-card class="dashboard-card">
          <img mat-card-image style="height: 24vh;" src="../../../assets/bientot-construction-conception-fond-jaune_1017-25509.jpg"/>   
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="3" style="display: flex;">
        <mat-card class="dashboard-card">
            <img mat-card-image style="height: 24vh;" src="../../../assets/bientot-construction-conception-fond-jaune_1017-25509.jpg"/>   
        </mat-card>
      </mat-grid-tile>



      <mat-grid-tile [colspan]="4" [rowspan]="6">
        <mat-card class="dashboard-card" style="padding: 0px;">


          <mat-card-content class="dashboard-card-content"*ngIf="user.statusCode == 2">
              <app-results></app-results>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content" *ngIf="user.statusCode == 1">
            <app-school-event></app-school-event>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      </mat-grid-list>

  </div>
</div>