<H2 mat-dialog-title>Changez votre mot de passe</H2>
  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="error == true">
          {{this.errorMsg}}
      </mat-error>
     
      <mat-form-field>
        <input 
          matInput placeholder="Nouveau mot de passe" 
          formControlName="password" 
          required
          type="password">
        <mat-error>
          Le mot de passe est obligatoire.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input 
          matInput placeholder="Confirmez le mot de passe" 
          formControlName="confirmPassword" 
          required
          type="password">
          <mat-error>
            La confirmation est obligatoire.
          </mat-error>
        </mat-form-field>

      
      <button 
      mat-raised-button 
      type="submit" 
      color="primary"
      [disabled]="form.invalid">Valider</button>
      

    </form>
  </mat-dialog-content>
  