mat-card {
    text-align: center;
    
  }
  
  mat-form-field {
    display: block;
  }

.forgotPwdLabel{
    align-content: flex-end;
}

.hideButton{
    color:gray;
}

textarea{
  font-weight:540;
}
input{
  font-weight:540;
}