
  .dashboard-card-content {
    text-align: center;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .Chart{
    justify-content: center;
  }

  
  .blink-1 {
    -webkit-animation: blink-1 2s 2 both;
            animation: blink-1 2s 2 both;
            font-weight: bolder;

  }
  
  @keyframes blink-1 {
      0%,
      50%,
      100% {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }