.form{
    min-width: 150px;
    
    width: 100%;
}

.txtArea{
    width: 100%;
}

mat-form-field{
    margin: 8px;
    width: 30vw;
}

textarea{
    font-weight:540;
}
input{
    font-weight:540;
}

mat-select{
    font-weight:540;
}
