.backGroundLightEvent{
    background-color: white;
    color: black;
}
.backGroundDarkEvent{
    background-color:#4f4f4f ;
    color: white;
}


.footer{
    position: sticky;
    height: 30px;
}
footer{
    text-align: center;
}