.backGroundLightEvent{
    background-color: #fffdfa;
    color: black;
}
.backGroundDarkEvent{
    background-color:#4f4f4f ;
    color: #fffdfa;
}


.footerToolbar{
    height: 40px;
    color: #b8bab6;
    font-size:8px;
    text-align: center;
}

footer{
    text-align: center;
    position: sticky;
    flex:0 1 10px;
}

.backGroundSize{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:host{
    width: 100%;
    height: 100%;
}


