.backGroundLightEvent{
    background-color: #fffdfa;
    color: black;
}
.backGroundDarkEvent{
    background-color:#4f4f4f ;
    color: #fffdfa;
}


.footer{
    position: sticky;
    height: 30px;
}
footer{
    text-align: center;
}
body{
    height: 100%;
}