mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    max-height: 300px;
    
  }
  
  mat-form-field {
    display: block;
  }

.forgotPwdLabel{
    color:gray;
    font-size:10px;
}

.hideButton{
    color:gray;
    
}

