// mat-grid-list {
//     display: flex;
//     flex-direction: column;
//     background-color: lightcoral;
//     height: 30vh;
// }

// .mainDiv{
//     display: flex;
//     flex-direction: inherit;
// }

// .userProfileDiv{
// height: auto;

// }

// .contactProfileDiv{
// height: auto;

// }

// .lunchDiv{
// height: auto;

// }


mat-card{
    margin:10px;
}


.custom-date-class {
    background: teal;
    border-radius: 100%;
  }



